[submodule "salt/formulas/salt-formula"]
	path = salt/formulas/salt-formula
	url = https://github.com/eedgar/salt-formula
[submodule "salt/formulas/ntp-formula"]
	path = salt/formulas/ntp-formula
	url = https://github.com/eedgar/ntp-formula
[submodule "salt/pillars"]
	path = salt/pillars
	url = git@bitbucket.org:eedgar/edgarlab-saltpillar.git
[submodule "salt/formulas/users-formula"]
	path = salt/formulas/users-formula
	url = https://github.com/eedgar/users-formula.git
